
*   Computing Platforms: Set up the Workspace for Machine Learning Projects.  https://ms.pubpub.org/pub/computing
*  Machine Learning for Predictions. https://ms.pubpub.org/pub/ml-prediction
* Machine Learning Packages: https://scikit-learn.org/stable/

# Part I: Import and Inspect Data

In [ ]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Rising-Stars-by-Sunshine/YutongQuan_STATS201_FinalProject/main/data/Queried_Data/Aave_Queried.csv')
df.head()

    timestamp  open  high   low  close      volume  market cap
0  2022/12/10  61.5  61.9  61.3   61.7   11997.611   11997.611
1   2022/12/9  62.9  63.4  61.0   61.5   92191.065   92191.065
2   2022/12/8  61.4  63.5  60.4   62.8   78099.435   78099.435
3   2022/12/7  64.0  64.1  60.1   61.4  138823.250  138823.250
4   2022/12/6  64.4  65.6  62.7   64.0   77089.109   77089.109

In [ ]:
df.columns

Index(['timestamp', 'open', 'high', 'low', 'close', 'volume', 'market cap'], dtype='object')

In [ ]:
df.dtypes

timestamp      object
open          float64
high          float64
low           float64
close         float64
volume        float64
market cap    float64
dtype: object

# Part II: Prepare the Y varible for Regression

## 2.1. Write functions to calculte the Y variable for Regression 

*(skip the step if the Y variable already exists)*

In [ ]:
df['daily return'] = df['close'].pct_change()
df.head()

    timestamp  open  high   low  close      volume  market cap  daily return
0  2022/12/10  61.5  61.9  61.3   61.7   11997.611   11997.611           NaN
1   2022/12/9  62.9  63.4  61.0   61.5   92191.065   92191.065     -0.003241
2   2022/12/8  61.4  63.5  60.4   62.8   78099.435   78099.435      0.021138
3   2022/12/7  64.0  64.1  60.1   61.4  138823.250  138823.250     -0.022293
4   2022/12/6  64.4  65.6  62.7   64.0   77089.109   77089.109      0.042345

## 2.2. Make Sure that the Data Type of Y is "numeric"

In [ ]:
df['daily return']=pd.to_numeric(df['daily return'])
df.dtypes

timestamp        object
open            float64
high            float64
low             float64
close           float64
volume          float64
market cap      float64
daily return    float64
dtype: object

# Part III: Prepare the Y variable for Classification

reference:

https://datatofish.com/if-condition-in-pandas-dataframe/ *italicized text*

In [ ]:
#@title Define the Positive Threshold
cut = 0 #@param {type:"number"}

## 3.1. Method 1: If function

In [ ]:
df['positive'] = df['daily return'] >= cut
df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive
0,2022/12/10,61.5,61.9,61.3,61.7,11997.611,11997.611,NaN,False
1,2022/12/9,62.9,63.4,61.0,61.5,92191.065,92191.065,-0.003241,False
2,2022/12/8,61.4,63.5,60.4,62.8,78099.435,78099.435,0.021138,True
3,2022/12/7,64.0,64.1,60.1,61.4,138823.250,138823.250,-0.022293,False
4,2022/12/6,64.4,65.6,62.7,64.0,77089.109,77089.109,0.042345,True

In [ ]:
df.loc[(df['daily return'] >= cut), 'positive'] = 1
df.loc[(df['daily return'] <cut), 'positive'] = 0
df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive
0,2022/12/10,61.5,61.9,61.3,61.7,11997.611,11997.611,NaN,False
1,2022/12/9,62.9,63.4,61.0,61.5,92191.065,92191.065,-0.003241,0
2,2022/12/8,61.4,63.5,60.4,62.8,78099.435,78099.435,0.021138,1
3,2022/12/7,64.0,64.1,60.1,61.4,138823.250,138823.250,-0.022293,0
4,2022/12/6,64.4,65.6,62.7,64.0,77089.109,77089.109,0.042345,1

## 3.2. Method 2: Lambda function

notes: the best method that I suggest

In [ ]:
df['positive'] = df['daily return'].apply(lambda x: 1 if x>= cut else 0)
df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive
0,2022/12/10,61.5,61.9,61.3,61.7,11997.611,11997.611,NaN,0
1,2022/12/9,62.9,63.4,61.0,61.5,92191.065,92191.065,-0.003241,0
2,2022/12/8,61.4,63.5,60.4,62.8,78099.435,78099.435,0.021138,1
3,2022/12/7,64.0,64.1,60.1,61.4,138823.250,138823.250,-0.022293,0
4,2022/12/6,64.4,65.6,62.7,64.0,77089.109,77089.109,0.042345,1

# Part IV: Create the X variables

## 4.1. Shift the Y to get past values

reference:
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shift.html

In [ ]:
# generate a new variable as the previous 1 observable of your Y variable for regression
df['daily return_past'] =df['daily return'].shift(1)
df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive,daily return_past
0,2022/12/10,61.5,61.9,61.3,61.7,11997.611,11997.611,NaN,0,NaN
1,2022/12/9,62.9,63.4,61.0,61.5,92191.065,92191.065,-0.003241,0,NaN
2,2022/12/8,61.4,63.5,60.4,62.8,78099.435,78099.435,0.021138,1,-0.003241
3,2022/12/7,64.0,64.1,60.1,61.4,138823.250,138823.250,-0.022293,0,0.021138
4,2022/12/6,64.4,65.6,62.7,64.0,77089.109,77089.109,0.042345,1,-0.022293

## 4.2. Calculate the Moving Averages

references: 

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

https://towardsdatascience.com/moving-averages-in-python-16170e20f6c

In [ ]:
#@title Define the Window
window = 30 #@param {type:"number"}

In [ ]:
df['daily return_past_ma30']=df['daily return_past'].rolling(window=window,min_periods=1).mean()
df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive,daily return_past,daily return_past_ma30
0,2022/12/10,61.5,61.9,61.3,61.7,11997.611,11997.611,NaN,0,NaN,NaN
1,2022/12/9,62.9,63.4,61.0,61.5,92191.065,92191.065,-0.003241,0,NaN,NaN
2,2022/12/8,61.4,63.5,60.4,62.8,78099.435,78099.435,0.021138,1,-0.003241,-0.003241
3,2022/12/7,64.0,64.1,60.1,61.4,138823.250,138823.250,-0.022293,0,0.021138,0.008948
4,2022/12/6,64.4,65.6,62.7,64.0,77089.109,77089.109,0.042345,1,-0.022293,-0.001465

# Part V Train and Test Split

*reference*:

https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.TimeSeriesSplit.html

In [ ]:
from sklearn.model_selection import TimeSeriesSplit
tss = TimeSeriesSplit()
print(tss)

TimeSeriesSplit(gap=0, max_train_size=None, n_splits=5, test_size=None)

In [ ]:
# change the train and test split parameters 
tss = TimeSeriesSplit(gap=0, max_train_size=None, n_splits=2, test_size=None)

In [ ]:
for train_idx, test_idx in tss.split(df):
    print("TRAIN:", train_idx, "TEST:", test_idx)

TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262] TEST: [263 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280
 281 282 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298
 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316
 317 318 319 320 321 322 323 324 325 326 327 328 329 330 331 332 333 334
 335 336 337 338 339 340 341 342 343 344 345 346 347 348 349 350 351 352
 353 354 355 356 357 358 359 360 361 362 363 364 365 366 367 368 369 370
 371 372 373 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388
 389 390 391 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406
 407 408 409 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424
 425 426 427 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442
 443 444 445 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460
 461 462 463 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478
 479 480 481 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496
 497 498 499 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514
 515 516 517 518 519 520 521 522 523 524]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524] TEST: [525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542
 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560
 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578
 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596
 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614
 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632
 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650
 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668
 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686
 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704
 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722
 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738 739 740
 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756 757 758
 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774 775 776
 777 778 779 780 781 782 783 784 785 786]

In [ ]:
train_idx

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524])

In [ ]:
test_idx

array([525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537,
       538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550,
       551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563,
       564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576,
       577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589,
       590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602,
       603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615,
       616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628,
       629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641,
       642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654,
       655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667,
       668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680,
       681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693,
       694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706,
       707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719,
       720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732,
       733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745,
       746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758,
       759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771,
       772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784,
       785, 786])

In [ ]:
train_df = df.filter(items=train_idx, axis=0)
test_df =  df.filter(items=test_idx, axis=0)

In [ ]:
train_df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive,daily return_past,daily return_past_ma30
0,2022/12/10,61.5,61.9,61.3,61.7,11997.611,11997.611,NaN,0,NaN,NaN
1,2022/12/9,62.9,63.4,61.0,61.5,92191.065,92191.065,-0.003241,0,NaN,NaN
2,2022/12/8,61.4,63.5,60.4,62.8,78099.435,78099.435,0.021138,1,-0.003241,-0.003241
3,2022/12/7,64.0,64.1,60.1,61.4,138823.250,138823.250,-0.022293,0,0.021138,0.008948
4,2022/12/6,64.4,65.6,62.7,64.0,77089.109,77089.109,0.042345,1,-0.022293,-0.001465

In [ ]:
test_df.head()

,timestamp,open,high,low,close,volume,market cap,daily return,positive,daily return_past,daily return_past_ma30
525,2021/7/3,234.05,267.08,227.75,259.42,275045.4219,275045.4219,-0.063466,0,-0.101291,-0.002212
526,2021/7/2,230.18,234.96,215.62,234.12,183917.2291,183917.2291,-0.097525,0,-0.063466,-0.005586
527,2021/7/1,250.96,253.02,227.22,230.17,234518.7354,234518.7354,-0.016872,0,-0.097525,-0.008419
528,2021/6/30,238.03,252.58,219.71,251.08,273789.0701,273789.0701,0.090846,1,-0.016872,-0.010532
529,2021/6/29,227.32,253.32,226.04,238.22,280295.6893,280295.6893,-0.051219,0,0.090846,-0.006436

# Part VI Prepare the Train and Test Data for Classification and Regression

## 6.1. Classification

### 6.1.1 Define the columns (Y, X) for Classification

In [ ]:
cols_C = ['positive','daily return_past_ma30']

### 6.1.2 Define the Data Frame of Train and Test Data for Classification

In [ ]:
df_C_train = train_df[cols_C]
df_C_test = test_df[cols_C]

### 6.1.3 Export the Train and Test Data for Classification

In [ ]:
df_C_train.head()

   positive  daily return_past_ma30
0         0                     NaN
1         0                     NaN
2         1               -0.003241
3         0                0.008948
4         1               -0.001465

In [ ]:
df_C_train.to_csv('Classification_Train.csv')

In [ ]:
df_C_test.head()

     positive  daily return_past_ma30
525         0               -0.002212
526         0               -0.005586
527         0               -0.008419
528         1               -0.010532
529         0               -0.006436

In [ ]:
df_C_test.to_csv('Classification_Test.csv')

## 6.2 Regression

### 6.2.1. Define the columns (Y, X) for Regression

In [ ]:
cols_R = ['daily return','daily return_past_ma30']

### 6.2.2. Define the Data Frame of Train and Test Data for Regression

In [ ]:
df_R_train = train_df[cols_R]
df_R_test = test_df[cols_R]

### 6.2.3. Export the Train and Test Data for Regression

In [ ]:
df_R_train.head()

   daily return  daily return_past_ma30
0           NaN                     NaN
1     -0.003241                     NaN
2      0.021138               -0.003241
3     -0.022293                0.008948
4      0.042345               -0.001465

In [ ]:
df_R_train.to_csv('Regression_Train.csv')

In [ ]:
df_R_test.head()

     daily return  daily return_past_ma30
525     -0.063466               -0.002212
526     -0.097525               -0.005586
527     -0.016872               -0.008419
528      0.090846               -0.010532
529     -0.051219               -0.006436

In [ ]:
df_R_test.to_csv('Regression_Test.csv')